.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects .projects-zone .arrow-zone {
    position: relative;
    margin: 50px;
    text-align: center;
}


.projects .projects-zone .cards-projects-zone {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin: 100px;
}

.projects .projects-zone .cards-projects-zone {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin: 100px 60px;
}

.projects .projects-zone .cards-projects-zone p i {
    margin-inline: 10px;
}


.projects .modal-container {
    display: none;
}

@media screen and (max-width:930px) {
    .projects .projects-zone .cards-projects-zone {
        grid-template-columns: 1fr;
        margin: 40px;
    }

    .projects .projects-zone {
        display: block;
    }
}


@media screen and (max-width:740px) {
    .projects .projects-zone .cards-projects-zone {
        margin: 0;
    }

}