.contact .contact-zone {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 100px 0;
}

.contact .contact-zone h3 {
    text-align: center;
}

.contact .contact-zone h3 svg {
    margin-right: 10px;
}

.contact .contact-zone .classic-contact {
    margin-right: 30px;
    width: 30%;
    padding: 0 5%;
    list-style: none;
}

.contact .contact-zone .classic-contact ul {
    list-style: none;
    margin-block: 35px;
    font-size: medium;
}

.contact .contact-zone .classic-contact ul p {
    margin-bottom: 10px;
}

.contact .contact-zone .classic-contact ul li {
    margin-bottom: 15px;
}

.contact .contact-zone .classic-contact ul li svg {
    cursor: pointer;
    font-size: 90%;
    padding-left: 10px;
}

.contact .contact-zone .classic-contact ul li:hover svg path,
.contact .contact-zone .classic-contact ul li svg path:hover,
.contact .contact-zone .classic-contact ul li a:hover {
    color: var(--couleur-nav-active);
}

.contact .contact-zone .classic-contact ul li a {
    text-decoration: none;
}

.contact .contact-zone .classic-contact ul li .email {
    text-decoration: underline;
}

.contact .contact-zone .project-contact {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.contact .contact-zone .project-contact div {
    margin-top: 36px;
    position: relative;
}

.contact .contact-zone .project-contact div label {
    cursor: pointer;
    background: var(--couleur-fond);
    padding: 3px 6px;
    position: absolute;
    top: -10px;
    left: 15px;
    font-size: small;
    transition: 0.3s background-color;
}

.contact .contact-zone .project-contact div input,
.contact .contact-zone .project-contact div textarea {
    background: var(--couleur-fond);
    border-radius: 30px;
    border: var(--couleur-nav) solid 1px;
    outline-color: var(--couleur-nav);
    padding: 20px;
    width: 100%;
    transition: 0.3s background-color;
}

.contact .contact-zone .project-contact div textarea {
    height: 15vw;
    resize: none;
}

.contact .contact-zone .project-contact .submit {
    border: none;
    background: transparent;
    text-align: left;
    font-weight: 600;
    font-family: "poppins", "sans-serif";
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s all;
}

.contact .contact-zone .project-contact .submit:hover {
    transition: 0.3s all;
    color: var(--couleur-span);
}

.contact .contact-zone .project-contact .submit:hover svg path {
    color: var(--couleur-span);
}

.contact .contact-zone .project-contact .submit svg {
    transform: rotate(-45deg);
    margin-left: 10px;
}

@media screen and (max-width: 930px) {
    .contact .contact-zone {
        flex-direction: column;
    }

    .contact .contact-zone .classic-contact {
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .contact .contact-zone .project-contact {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0;
        padding-inline: 45px;
    }

    .contact .contact-zone .project-contact div {
        width: 70%;
    }

    .contact .contact-zone .project-contact div textarea {
        height: 30vw;
    }
}

@media screen and (max-width: 740px) {
    .contact .contact-zone {
        margin: 0;
    }

    .contact .contact-zone h3 {
        font-size: 3.5vw;
    }

    .contact .contact-zone p,
    .contact .contact-zone li,
    .contact .contact-zone .project-contact div {
        font-size: 3vw;
    }

    .contact .contact-zone .project-contact div {
        width: 100%;
        margin-top: 25px;
    }

    .contact .contact-zone .project-contact div input,
    .contact .contact-zone .project-contact div textarea {
        font-size: 2.2vw;
        padding: 15px 20px;
    }

    .contact .contact-zone .project-contact div textarea {
        height: 40vw;
    }

    .contact .contact-zone .project-contact div label {
        font-size: 2.2vw;
    }

}